
    body{
        background-color: rgb(188, 215, 255);
    }


    .board, .msg{
        margin: 0px auto;
        max-width: 600px;
        position: relative;
        background-color: rgb(227, 245, 195);
    }
    @media (max-width: 600px){
        .board{
            width:100%  ;
        }
    }

    .cell{
        width: 30%;
        height: 20px;
        margin: 1.6%;
        background-color: rgb(155, 149, 241);
        cursor: pointer;
        text-align: center;
        float:left;
    }
    .cell:hover{
        box-shadow: 3px 3px 0 black;
    }
    .cell.win {
        color: red;
    }

    .player {
        width: 50%;
        height: 80px;
        float: left;
        text-align: center;
        background-color: rgb(238, 17, 17);
    }
    .arrow, .mark{
        width: 50%;
    }
    .player1 > div{
        float: right;
        background-color: rgb(247, 121, 121);
    }
    .player2 > div {
        float: left;
        background-color: rgb(247, 121, 121);
    }
    .arrow {
        width: 0;
        height: 0;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
    }
    .arrow.inv{
        visibility: hidden;
    }
    .arrow-r{
        border-left: 40px solid #4ecdc4;
    }
    .arrow-l{
        border-right: 40px solid #4ecdc4;
    }
    .mark{
        font-size: 80px;
        line-height: 80px;
    }
    .ss{
        clear: both;
        font-size: 36px;
        text-align: center;
        font-family: sans-serif;
        padding: 0px;
    }